<div class="flex-container">
  <aside class="aside">
    <h1>BUSCAR</h1>
    <div class="buscar">
      <input
        type="text"
        name="busqueda"
        [(ngModel)]="filterContenidos"
        matTooltip="Buscar contenidos"
        autocomplete="off"
      />
    </div>
    <div class="category-list">
      <h1>CATEGORIAS</h1>
      <button
        *ngFor="let categoria of listCategoria"
        (click)="filterContenidos = categoria"
        mat-stroked-button
        color="primary"
      >
        {{ categoria }}
      </button>
    </div>
  </aside>
  <section class="section wrapper">
    <div
      *ngFor="
        let contenido of listContenidos
          | filter: filterContenidos
          | paginate: page_size:page_number
      "
      class="container-card"
    >
      <div class="banner-img"></div>
      <img src="{{ contenido.imagen }}" alt="" class="contenido-img" />
      <h1 class="title">
        {{ contenido.titulo | uppercase }}
      </h1>
      <p class="descripcion">
        <strong>Disponible hasta: </strong>
        {{ contenido.fechaDeAccesoLimite | date: "MM/dd/yyyy" }}
      </p>
      <a
        href="#modal"
        (click)="
          cambiarEstado(contenido._id, contenido);
          obtenerContenido(
            contenido.titulo,
            contenido.descripcion,
            contenido.imagen
          )
        "
        class="btn"
        >Ver Mas</a
      >
    </div>
    <h3
      style="text-align: center; margin-top: 10px"
      *ngIf="(listContenidos | filter: filterContenidos).length === 0"
    >
      No se encontro ningun contenido
    </h3>
    <mat-paginator
      [length]="listContenidos.length"
      [pageSize]="page_size"
      [pageSizeOptions]="pageSizeOptions"
      (page)="handlePage($event)"
    >
    </mat-paginator>
  </section>
</div>
<section id="modal" class="modal">
  <div class="modal-container">
    <figure class="modal-picture">
      <img src="{{ imgModal }}" class="modal-img" alt="" />
    </figure>
    <h2 class="modal-title">
      <span class="modal-title modal-title--bold"> {{ tituloModal }}</span>
    </h2>
    <p class="modal-paragraph">{{ descripcionModal }}</p>

    <a href="#header" class="modal-close">Cerrar</a>
  </div>
</section>
